.cta-home {
  padding: 60px;
  background-color: #d0f5e9;
  background-image: url('../img/Frameimg11.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;

  .cta-home-title {
    font-weight: bold;
    font-size: 28px;
    max-width: 450px;
    line-height: 1.4;
    margin-bottom: 25px;
  }

  .cta-home-text {
    color: #313131;
    margin-bottom: 60px;
  }

  .cta-btn {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    background-color: #0fcfe9;
    border-radius: 5px;
    width: 30%;
    color: white;
    font-size: .8em;
    font-weight: bold;
    cursor: pointer;
    transition: all .4s ease;

    &:hover {
      background-color: #13aabe;
    }
  }
}