@media screen and (max-width: 890px) {
  .clientes {

    .flex {
      flex-direction: column;

      .man-image {
        width: 90%;
      }
    }

    .clients-rigth {
      margin-top: 25px;
      margin-left: 0 !important;
    }
  }
}

@media screen and (max-width: 690px) {
  .header {
    flex-direction: column;

    li {
      margin-top: 20px;
    }
  }

  .search {
    padding-bottom: 40px;
    h1 {
      font-size: 30px;
    }

  }
  .casavetor {
    display: none;
  }

  .instalacoes {
    display: flex;
    flex-wrap: wrap;

    .left, .right {
      margin-right: 0;
      margin-bottom: 40px;
    }
  }


  .footer {
    margin-top: 40px;
    padding: 80px 30px;

    .logo-footer {
      display: none;
    }
  }
}