* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.header {
  background-color: #122526;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
}

.header ul {
  list-style-type: none;
}

.header ul li {
  display: inline-block;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-right: 15px;
}

.header ul li a {
  color: white;
  text-decoration: none;
}

.header ul li a:hover {
  color: #0fcfe9;
}

.header ul li .btn-sgnup {
  border: 2px solid #30c0da;
  padding: 10px 25px;
  color: #30c0da;
}

.header ul li .btn-sgnup:hover {
  color: white;
}

.search {
  background-color: #122526;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
  padding-top: 40px;
  animation-duration: 2.2s;
}

.search h1 {
  color: white;
  font-size: 40px;
}

.search .search-form {
  margin-top: 40px;
}

.search .search-form input {
  padding: 15px;
  background-color: #181818;
  border: none;
  width: 70%;
  color: white;
}

.search .search-form input::-webkit-input-placeholder {
  color: #d1d1d1;
}

.search .search-form input:-ms-input-placeholder {
  color: #d1d1d1;
}

.search .search-form input::-ms-input-placeholder {
  color: #d1d1d1;
}

.search .search-form input::placeholder {
  color: #d1d1d1;
}

.search .search-form button {
  display: block;
  margin-top: 40px;
  padding: 15px;
  background-color: #0fcfe9;
  border: none;
  width: 70%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.search .search-form button:hover {
  background-color: #13aabe;
}

.search .casavetor {
  z-index: 20;
  width: 60%;
}

.options-hotel {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 60px;
}

.options-hotel h2 {
  color: #122526;
  font-size: 38px;
  margin-bottom: 40px;
}

.options-hotel .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.options-hotel .cards .card {
  -webkit-box-shadow: 3px 3px 3px #c2c2c2;
          box-shadow: 3px 3px 3px #c2c2c2;
  padding-bottom: 15px;
  text-align: left;
  margin-top: 20px;
}

.options-hotel .cards .card img {
  width: 100%;
}

.options-hotel .cards .card ul {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.options-hotel .cards .card ul li {
  display: inline-block;
  margin-left: 40px;
}

.options-hotel .cards .card .agende-btn {
  border: 2px solid #122526;
  padding: 5px 20%;
  text-decoration: none;
  color: #122526;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.options-hotel .cards .card .agende-btn:hover {
  background-color: #122526;
  color: #ffffff;
}

.options-hotel .cards .card .btn-center {
  text-align: center;
}

.options-hotel .cards .card .roomName {
  color: #122526;
  font-weight: bold;
  margin-top: 10px;
}

.options-hotel .cards .card p {
  font-weight: bold;
}

.options-hotel .cards .card .price {
  margin-left: 70%;
}

.instalacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #eeeeee;
  padding: 60px 40px;
}

.instalacoes .img-title {
  font-weight: bold;
  margin-top: 10px;
  color: #122526;
  font-size: 20px;
}

.instalacoes .left {
  margin-right: 40px;
}

.instalacoes .left h2 {
  color: #122526;
  font-size: 34px;
  margin-bottom: 40px;
  max-width: 400px;
  line-height: 1.3;
}

.instalacoes .left p {
  margin-bottom: 20px;
  max-width: 260px;
  line-height: 1.3;
}

.instalacoes .left img {
  width: 100%;
}

.instalacoes .right p {
  margin-bottom: 20px;
  max-width: 260px;
  line-height: 1.3;
}

.instalacoes .right .first-img {
  margin-top: 20px;
}

.instalacoes .right img {
  width: 100%;
}

.instalacoes .btn-visite {
  border: 2px solid #122526;
  padding: 5px 20%;
  text-decoration: none;
  font-size: 14px;
  color: #122526;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.instalacoes .btn-visite:hover {
  background-color: #122526;
  color: #ffffff;
}

.clientes {
  padding: 80px;
}

.clientes h3 {
  font-size: 32px;
  color: #122526;
  margin-bottom: 40px;
}

.clientes .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clientes .person-card {
  background-color: #122526;
  color: #ffffff;
  padding-right: 40px;
}

.clientes .person-card p {
  margin-bottom: 10px;
  margin-left: 40px;
  margin-top: 20px;
  max-width: 400px;
  line-height: 1.4;
}

.clientes .person-card .person-name {
  font-size: 18px;
}

.clientes .person-card .person-profission {
  color: #c2c2c2;
}

.clientes .clients-rigth {
  margin-left: 40px;
}

.clientes .clients-rigth .person-card {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.clientes .clients-rigth .person-card img {
  max-width: 98%;
}

.cta-home {
  padding: 60px;
  background-color: #d0f5e9;
  background-image: url("../img/Frameimg11.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.cta-home .cta-home-title {
  font-weight: bold;
  font-size: 28px;
  max-width: 450px;
  line-height: 1.4;
  margin-bottom: 25px;
}

.cta-home .cta-home-text {
  color: #313131;
  margin-bottom: 60px;
}

.cta-home .cta-btn {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px 40px;
  background-color: #0fcfe9;
  border-radius: 5px;
  width: 30%;
  color: white;
  font-size: .8em;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.cta-home .cta-btn:hover {
  background-color: #13aabe;
}

footer {
  background-color: #122526;
}

footer .line {
  width: 70%;
  padding: 1px;
  background-color: #fdfdfd;
  margin: 0 auto 30px;
}

footer .medias-sociais {
  text-align: center;
  padding-bottom: 40px;
}

footer .medias-sociais a {
  margin-left: 25px;
}

.footer {
  background-color: #122526;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 200px 80px 10px;
}

.footer p {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

.footer ul {
  list-style-type: none;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul a {
  text-decoration: none;
  color: #fdfdfd;
}

.footer ul a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 890px) {
  .clientes .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .clientes .flex .man-image {
    width: 90%;
  }
  .clientes .clients-rigth {
    margin-top: 25px;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 690px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header li {
    margin-top: 20px;
  }
  .search {
    padding-bottom: 40px;
  }
  .search h1 {
    font-size: 30px;
  }
  .casavetor {
    display: none;
  }
  .footer {
    padding: 80px 30px;
  }
  .footer .logo-footer {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */